<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PDXContactMakerTests</key>
		<dict>
			<key>testAddToContactsSpeed</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0026514</real>
					<key>baselineIntegrationDisplayName</key>
					<string>ContactsBot – Integration 9</string>
				</dict>
			</dict>
		</dict>
		<key>PDXTwitterCommunicatorTests</key>
		<dict>
			<key>testParseFriendshipsCreateSpeed</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.51e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>ContactsBot – Integration 9</string>
				</dict>
			</dict>
		</dict>
		<key>_Contacts_Tests</key>
		<dict>
			<key>testPerformanceExample</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1186e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>ContactsBot – Integration 9</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
